.block {
  position: relative;
}

.random {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background: #00a7da;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  /* テキストが2行以上とかの時は以下で上下中央に操作できる？ */
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  color: rgb(235, 235, 235);
}

:hover .random {
  cursor: pointer;
}